# --- First Dosya ---

# --- Textler/Documantasyonlar ---
/Code/Hurriyet_Haber_wbsp/Learning.ipynb
/Project_Main_Structure_Stages.ipynb
# --- Keyler ---

# --- Codlar ---
/Code
/Code/Hurriyet_Haber_wbsp/haber/scrapy.cfg
# --- Datalar ---
/Data




