# --------------------- Bütün Dosya Kuralları ---------------------

# --- First Dosya ---

# --- Textler/Documantasyonlar ---
/Steps_Example
# --- Keyler ---

# --- Codlar ---

# --- Datalar ---
/Data

# --- __ ---
/Code/Hurriyet_Haber_wbsp/haber/haber/__pycache__
/Code/Hurriyet_Haber_wbsp/haber/haber/__init__.py



# --------------------- Hürriyet Projesi ---------------------

# --- First Dosya ---

# --- Textler/Documantasyonlar ---
/Code/Hurriyet_Haber_wbsp/Learning.ipynb
# --- Keyler ---

# --- Codlar ---

/Code/Hurriyet_Haber_wbsp/haber/scrapy.cfg

# --- Datalar ---
/Code/Hurriyet_Haber_wbsp/data
# --- __ ---
/Code/Hurriyet_Haber_wbsp/haber/haber/__pycache__
/Code/Hurriyet_Haber_wbsp/haber/haber/__init__.py
/Code/Hurriyet_Haber_wbsp/haber/haber/spiders/__pycache__
/Code/Hurriyet_Haber_wbsp/haber/haber/spiders/__init__.py
/Code/Hurriyet_Haber_wbsp/haber/haber/settings.py
/Code/Hurriyet_Haber_wbsp/haber/haber/middlewares.py

# --------------------- EnSonHaber Bot ---------------------

# --- First Dosya ---

# --- Textler/Documantasyonlar ---

# --- Keyler ---

# --- Codlar ---
/Code/Enson_Haber_wbsp/ensonhaber_bot/settings.py
# --- Datalar ---
/Code/Enson_Haber_wbsp/data

# --- __ ---
/Code/Enson_Haber_wbsp/ensonhaber_bot/spiders/__init__.py
/Code/Enson_Haber_wbsp/ensonhaber_bot/spiders/__pycache__
/Code/Enson_Haber_wbsp/ensonhaber_bot/__init__.py
/Code/Enson_Haber_wbsp/ensonhaber_bot/__pycache__